.header {
  background: rgba(229, 221, 113, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(229, 221, 113, 1) 0%,
    rgba(238, 179, 83, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(229, 221, 113, 1)),
    color-stop(100%, rgba(238, 179, 83, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(229, 221, 113, 1) 0%,
    rgba(238, 179, 83, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(229, 221, 113, 1) 0%,
    rgba(238, 179, 83, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(229, 221, 113, 1) 0%,
    rgba(238, 179, 83, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(229, 221, 113, 1) 0%,
    rgba(238, 179, 83, 1) 100%
  );
  background-size: cover;
  padding: 1em;
  @include sm {
    justify-content: flex-end;
  }
  &__nav {
    display: flex;
    justify-content: center;
    @include sm {
      align-items: center;
      flex-direction: row-reverse;
    }
  }
  &__list {
    display: flex;
    list-style: none;
    @include sm {
      transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

      opacity: 0;
    }
  }
  &__item {
    color: #fff;
    padding: 0 2.5em 0 0;
    &:last-child {
      padding: 0;
    }
  }
  &__link::after {
    content: "";
    opacity: 0;
    width: 12px;
    height: 10px;
    background: url("../images/triangle.svg");
  }
  &__link:hover:after {
    content: "";
    opacity: 1;
    width: 12px;
    height: 10px;
    background: url("../images/triangle.svg");
  }
  &__photo {
    width: 205px;
    height: 205px;
    margin: 2em auto;
    background: url("../images/Polygon\ 2.svg") no-repeat;
  }
  &__greetings {
    text-align: center;
  }
  &__btn {
    @include xl {
      display: none;
    }
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    &-item {
      width: 10px;
      height: 1px;
      background: #fff;
      display: block;
      transition: 0.5s cubic-bezier(0.22, 0.82, 0.165, 1);
      &:last-child {
        transform: translate(-3px, -5px) rotate(120deg);
      }
      &:first-child {
        transform: translate(2px, -3px) rotate(-120deg);
      }
    }
    &.active {
      transform: rotate(-90deg);
      transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      .header__btn-item {
        width: 10px;
        height: 1px;
        background: #fff;
        display: block;
      }
      ~ .header__list {
        transform: translateX(0);
        transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        display: flex;
        opacity: 1;
      }
    }
  }
}
